html, body {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    font-family: "Arial";
    font-size: 34pt;
}

p {
    text-align: center;
    font-family: "Times";
    font-size: 17pt;
}

a {
    display: inline-block;
    padding: 7px;
    font-family: "athelas";
    font-size: 30px;
    font-weight: bold;
}

#navbar {
    display: inline-block;
    text-align: center;
    font-family:"Arial";
    font-size: 13pt;
}

#albums {
    height: 100;
    width: 100;
    text-align: center;
}

.center {
    display: block;
    margin: auto;
}

#tour {
    display: block
}

.search {
    position: absolute;
    left: 800px;
}

#container {
    top: 100px;
    width: 800px;
    height: auto;
    margin: 0px auto;
    display: block;
    position: relative;
    border-style: double;
    border-width: thin;
    background-color: #FFF;
    margin: 30px 50px 30px 50px;
    border: 2px solid #00A;
}

#content {
    width: 87%;
    height: 700px;
    border: 1.3px solid black;
    border-radius: 5px;
    overflow: auto;
}

#send-box {
    width: 100%;
    text-align: center;
}

#send-box input {
    display: inline-block;
    font-family: "athelas";
}

#name, #msg, #submit {
    margin: 10px;
    font-size: 15px;
}

input[name="name"] {
    width: 10%;
    /*height: 10%;*/
}

input[name="msg"] {
    width: 70%;
}

input[type="button"] {
    width: 10%;
}

.msg {
    width: 73%;
    display: inline-block;
    padding: 5px 0 5px 10px;
}

.msg>span {
    width: 25%;
    display: inline-block;
}

.msg>span::before {
    color: darkred;
    content: " [ ";
}

.msg>span::after {
    color: darkred;
    content: " ]   : ";
    size: 100%;
}

.UD {
    display: inline-block;
    position:right;
}