html, body {
        padding: 0;
        margin: 0;
    }

    h1, p {
        text-align: center;
        color: white;
    }

    { cursor: url(https://cdn.shopify.com/s/files/1/1443/3760/products/Cybermin-Pin_26a7752d-9961-4ae5-ad94-9516bda55ff8_2048x.jpg?v=1518562318); }


