html, body {
        padding: 0;
        margin: 0;
    }

    h1, p {
        text-align: center;
        font-family: "Arial";
    }

    #send-box {
        width: 500%;
        text-align: center;

    #albums {
        height: 100;
        width: 100;
        text-align: center;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 99%;
    }


