<!DOCTYPE html>
<html lang="zh">
{% load staticfiles %}
<style>
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: steelBlue;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: gray;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
</style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>ABOUT</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
</head>
<body style="background-color:pink">

    <h1>BLACKBEAR</h1>

    <nav id="navbar">
    <center>
        <ul>
            <li><a href="{% url 'index' %}" style="font-family:Arial; font-size:13pt">HOME</a></li>
            <li><a href="{% url 'about' %}" style="font-family:Arial; font-size:13pt">ABOUT</a></li>
            <li><a href="{% url 'tour' %}" style="font-family:Arial; font-size:13pt">TOUR</a></li>
            <li><a href="{% url 'feed' %}" style="font-family:Arial; font-size:13pt">FEED</a> </li>
        </ul>
    </center>
    </nav>

    <p>Born Matthew Musto to a teen mom and a heroin addict in Daytona Beach, Florida, blackbear felt more like the
        family’s black sheep. His biological dad ditched the family, and his mom married an “awesome” guy who adopted
        Bear and his brother. His stepdad owned a business that scraped barnacles off boats, a physically unforgiving
        and sometimes financially lean gig. His mom, who Bear calls his “professional cheerleader,” worked as a secretary
        and used food stamps to fill in the gaps, but his father, an Italian Catholic, balked at the idea of a handout.</p>

    <p>When Bear was little, a friend of his dad’s brought him a snare drum and he remembers banging on it for hours.
        At the age of six, he was given his first guitar, and by 11, he was playing birthday parties and starting punk
        bands. Punk meshed with his personality, which he describes as a “wild child, troublemaker, rebel and class
        clown, show off.”</p>

    <p>“Anything for attention. I would dress crazy. I was the only real punk rock kid in my school, with like the
        plaid pants and the Rancid t-shirt. And I’m talking 4th grade. People would be like, ‘You don’t have an older
        brother or anything?’ No,” he says.</p>

    <p>What he did have was a babysitter named Danny who introduced him to bands like New Found Glory and Catch 22.
        “I was already a fan of Blink 182 and he’s like, ‘If you like Blink you’ll love all this.’ I fucking just
        fell in love with Alkaline Trio and just got deeper and deeper into the subculture,” he says.</p>

    <p>In 9th grade, his band Polaroid got signed and he promptly dropped out of high school. They played festivals and
        gained a bit of a following, but then Bear decided to go solo under his given name after a few years. In 2008,
        he posted his first project as Mat Musto, an EP titled Brightness, and glimpsed his power—it clocked a million
        plays.</p>

    <p>Linking with a devoted former manager, they sent his EP around the industry, sniffing out opinions. Ne-Yo was
        into it, and Bear moved to Atlanta. He stayed two years, enduring studio boot camp and churning out two or
        three songs a day. When Ne-Yo offered him a deal that seemed suspect, however, he moved back in with his mom.
        “For a year, I was just wondering, what am I gonna do? I have all this training and all these demos,” he says.</p>

    <p>Then Mike Caren, the highly influential Warner Music executive, called. He’d heard Bear’s music and wanted to
        fly him to California.</p>

    <p>“I did, and I did 21 records in a week. Mike Posner heard and was like, ‘I need to do everything with blackbear.
        ’ Our first session, we wrote ‘Boyfriend,’” he continues. “By that time, I’d already started tattooing my neck
        and stuff so I’d never have a real job, and basically, well, that’s pretty much my upbringing.”</p>

    <p>He pauses and shrugs. “The rest of it’s on Wikipedia.”</p>



</body>
</html>
