<!DOCTYPE html>
<html lang="zh">
{% load staticfiles %}
<style>
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: steelBlue;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: gray;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
</style>
<head>
    <title>FEED</title>
    <!-- Css -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body style="background-color:pink">

<h1>BLACKBEAR</h1>

<center>
    <nav id="navbar">
        <a href="{% url 'index' %}" style="font-family:Arial; font-size:13pt">HOME</a>
        <a href="{% url 'about' %}" style="font-family:Arial; font-size:13pt">ABOUT</a>
        <a href="{% url 'tour' %}" style="font-family:Arial; font-size:13pt">TOUR</a>
        <a href="{% url 'feed' %}" style="font-family:Arial; font-size:13pt">FEED</a>
    </nav>
</center>

    <section id="guestbook">
        {% if user.is_authenticated %}
        <div class="container" align="center" valign="center">

            <form id="search" action="." method="get">
                <input type="text" name="search" id="srch" placeholder="Search comments">
                <input type="submit" value="Search">
            </form>


            <div id="content" align="left">
                {% for msg in msgs %}
                <div class='msg'>
                    <span class="name">{{msg.talker}}</span>
                    {{msg.message}}
                    <div class="UD">
                        <button type="button">Edit</button>
                        <button type="button">Delete</button>
                    </div>


                </div>
                {% endfor %}
            </div>

        {% else %}
                <div id="send-box">
                    <p>Login to comment</p>
                    <button onclick="location.href='/account/login'">Login</button>
                </div>
        </div>
        {% endif %}
    </section>
</body>

</html>
