<!DOCTYPE html>
<html lang="zh">
{% load  staticfiles %}
<style>
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: steelBlue;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: gray;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
</style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>BLACKBEAR</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
</head>
<body style="background-color:pink">

    <h1>BLACKBEAR</h1>

    <img src="https://pbs.twimg.com/media/DE0AbUuVoAA7vxb.jpg:large" height="700" weight="700" class="center">

    <p>Ayeeeeeee Blackbear is my fav singer <3</p>

    <a href="TOUR.html">TOUR<a/>

    <div id="send-box">
        <form id="send-form" action="/action_page.php" target="_blank" method="GET">
            <input type="text" name="cmt" id="comment" placeholder="Add your comment">
            <input type="submit" value="submit">
        </form>
    </div>

    <div id="albums" class="center">
        {% for url in randomlist %}
            <img src="{{url}}" height="100" width="100">
        {% endfor %}
    </div>
</body>
</html>
