<!DOCTYPE html>
<html lang="zh">
{% load  staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>BLACKBEAR</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
</head>
<body style="background-color:pink">

    <h1>BLACKBEAR</h1>

    <img src="https://pbs.twimg.com/media/DE0AbUuVoAA7vxb.jpg:large" height="700" width="700" class="center">

    <p>Ayeeeeeee Blackbear is my fav singer <3</p>

    <div id="send-box">
        <form id="send-form">
            <input type="text" name="cmt" id="comment" placeholder="Add your comment">
            <input type="submit" id="submit" value="submit">
        </form>
    </div>

    <div id="albums" class="center">
        <img src="https://images.genius.com/68159643d424fa1e7195d00dabe9acb9.800x800x1.jpg" height="100" width="100">
        <img src="https://images.genius.com/76a524efee9d89c46be36e8cab34aff5.1000x1000x1.jpg" height="100" width="100">
        <img src="https://images.genius.com/feb0ee138ad6f569e283aab9b18efdb7.600x600x1.jpg" height="100" width="100">
        <img src="https://is2-ssl.mzstatic.com/image/thumb/Music18/v4/82/45/6e/82456e55-9a93-dd70-8585-0d431a88c377/IMG_1503.jpg/600x600bf.png"
             height="100" width="100">
        <img src="https://t2.genius.com/unsafe/300x300/https%3A%2F%2Fimages.genius.com%2Fc2fb82133da8df2798d1b0ba33cffcea.600x600x1.jpg"
             height="100" width="100">
        <img src="https://i.scdn.co/image/caa8a134bb7757aa56dd965aac02554861b6768c" height="100" width="100">
        <img src="https://pbs.twimg.com/media/DOTjQsRV4AAt1wP.jpg:large" height="100" width="100">
    </div>
</body>
</html>