<!DOCTYPE html>
<html lang="zh">
{% load static %}

<head>
    <title>FEED</title>
    <!-- Css -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
    <section id="guestbook">
        <div class="container">
            <div id="content">
                {% for msg in msgs %}
                <div class='msg'>
                    <span class="name">{{msg.talker}}</span>
                    {{msg.message}}
                </div>
                {% endfor %}
            </div>
            <div id="send-box">
                <form id="send-form" action="." method="get">
                    {% csrf_token %}
                    <input type="text" name="name" id="name" placeholder="ID">
                    <input type="text" name="msg" id="msg" placeholder="Message">
                    <input type="submit" id="submit" value="Submit">
                </form>
            </div>
        </div>
    </section>
</body>

</html>
