<!DOCTYPE html>
<html lang="zh">
{% load staticfiles %}
<style>
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: steelBlue;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: gray;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
</style>
<head>
    <title>FEED</title>
    <!-- Css -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body style="background-color:pink">

<h1>BLACKBEAR</h1>

<center>
    <nav id="navbar">
        <a href="{% url 'index' %}" style="font-family:Arial; font-size:13pt">HOME</a>
        <a href="{% url 'about' %}" style="font-family:Arial; font-size:13pt">ABOUT</a>
        <a href="{% url 'tour' %}" style="font-family:Arial; font-size:13pt">TOUR</a>
        <a href="{% url 'feed' %}" style="font-family:Arial; font-size:13pt">FEED</a>
    </nav>
</center>

    <section id="guestbook">
        <div class="container" align="center" valign="center">
            <div class="acty-srch">
                {% if user.is_authenticated %}
                    <form id="activity" action="." method="post">
                        <input type="submit" value="Personal Activity"></input>
                    </form>
                {% endif %}
                <form id="search" action="." method="get">
                    <input type="text" name="search" id="srch" placeholder="Search comments">
                    <input type="submit" value="Search">
                </form>
            </div>

            <div id="content" align="left">
                {% for msg in msgs %}
                <div class='msg'>
                    <span class="name">{{msg.talker}}</span>
                    {{msg.message}}
                </div>
                {% endfor %}
            </div>

                {% if user.is_authenticated %}
                <div id="send-box">
                    <form id="send-form" action="." method="post">
                        {% csrf_token %}
                        <input type="text" name="msg" id="msg" placeholder="Leave a comment">
                        <input type="submit" id="submit" value="Submit">
                    </form>
                {% else %}
                <div id="send-box">
                    <p>Login to comment</p>
                    <button onclick="location.href='/account/login'">Login</button>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
</body>

</html>
