<!DOCTYPE html>
<html lang="zh">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>SIGNUP</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
</head>
<body style="background-color:pink">

    <h1>BLACKBEAR</h1>

    <p>Sign Up</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign up</button>
    </form>

</body>
</html>
