<!DOCTYPE html>
<html lang="zh">
{% load staticfiles %}
<style>
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: steelBlue;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: gray;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
</style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>BLACKBEAR</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
</head>
<body style="background-color:pink">

    <h1>BLACKBEAR</h1>

    <nav id="navbar">
    <center>
            <a href="{% url 'index' %}" style="font-family:Arial; font-size:13pt">HOME</a>
            <a href="{% url 'about' %}" style="font-family:Arial; font-size:13pt">ABOUT</a>
            <a href="{% url 'tour' %}" style="font-family:Arial; font-size:13pt">TOUR</a>
            <a href="{% url 'feed' %}" style="font-family:Arial; font-size:13pt">FEED</a>
    </center>
    </nav>

    <center>
        {% for dates in tourdates %}
            <!--<p>{{dates.city}}&emsp;&emsp;{{dates.venue}} &emsp;&emsp;{{dates.date}}<br></p>-->
        <section id="tour">
            {{dates.city}}
            {{dates.venue}}
            {{dates.date}}
            <br>
        </section>
        {% endfor %}
    </center>

</body>
</html>
