<!DOCTYPE html>
<html lang="zh">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>BLACKBEAR</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
</head>
<body style="background-color:pink">

    <h1>BLACKBEAR</h1>

    <nav id="navbar">
    <center>
        <ul>
            <li><a href="{% url 'index' %}" style="font-family:Arial; font-size:13pt">HOME</a></li>
            <li><a href="{% url 'about' %}" style="font-family:Arial; font-size:13pt">ABOUT</a></li>
            <li><a href="{% url 'tour' %}" style="font-family:Arial; font-size:13pt">TOUR</a></li>
            <li><a href="{% url 'feed' %}" style="font-family:Arial; font-size:13pt">FEED</a> </li>
        </ul>
    </center>
    </nav>

    <center>
        {% for dates in tourdates %}
            <!--<p>{{dates.city}}&emsp;&emsp;{{dates.venue}} &emsp;&emsp;{{dates.date}}<br></p>-->
        <section id="tour">
            {{dates.city}}
            {{dates.venue}}
            {{dates.date}}
            <br>
        </section>
        {% endfor %}
    </center>

</body>
</html>
