<!DOCTYPE html>
<html lang="zh">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>BLACKBEAR</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
</head>
<body style="background-color:pink">

    <h1>BLACKBEAR</h1>

    <div id="tourdates">
        {% for tourdate in tourdates %}
        {{tourdate.city}} {{tourdate.venue}} {{tourdate.date}} <br>
        {% endfor %}
    </div>

</body>
</html>
